* {
    margin: 0;
    padding: 0;

}

.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: #172134;
}

.navbar-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img {
    width: 200px;
    height: 60px;
    background-color: #172134;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    color: white;
    list-style: none;

}

li {
    list-style: none;
}

.profils {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: white;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #172134;
}

.setion-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
}

.premiere img {
    width: 550px;
    height: auto;
    padding: 0;
}

.description {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
    padding: 100px 0;
}

h1 {
    color: greenyellow;
    text-decoration: solid;
    font-size: xx-large;
    font-weight: 900;
    font-family: Arial,
        Helvetica, sans-serif;
}

p {
    color: white;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bouton {
    display: flex;
    gap: 40px;
}

.bouton .b1 {
    color: white;
    background-color: aqua;
    padding: 7px 20px;
    border-radius: 9px;
}

.b2 {
    color: #192338;
    background-color: whitesmoke;
    padding: 7px 20px;
    border-radius: 9px;
}

.section2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
background-image: -webkit-linear-gradient(#11383f,#2c5e59);
}

.section2-content {
    width: 80%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 30px;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    flex-direction: column;
    border-radius: 20px;
    height: 200px;
}